@font-face {
  font-family: Sacremento;
  src: url("../fonts/Sacramento-Regular.ttf");
}
@font-face {
  font-family: Pacifico;
  src: url("../fonts/Pacifico-Regular.ttf");
}
header {
  text-align: center;
}
p {
  text-shadow: 1px 1px 2px red, 0 0 0.2em blue;
  text-transform: capitalize;
  font-family: Pacifico;
  font-size: 18px;
  letter-spacing: 0.2rem;
  word-wrap: 45px;
  line-height: 2.5;
}
h1 {
  text-decoration: dashed underline red;
  font-family: Sacremento;
  font-size: 40px;
}
